body {
    font-family: 'Montserrat', sans-serif;
    text-transform: capitalize;
}

#header {
    text-align: center;

}

h1 {
    float: left;
    font-size: 50px;
    margin-top: 0;
}

#input {
    float: right;
    margin-top: 20px;
}

input {
    width: 250px;
    height: 30px;
    margin-right: 20px;
}


.current {
    display: flex;
    /* justify-content: center; */
    border: 5px solid red;
    width: 1000px;
    height: 200px;
    margin: 20px auto 20px auto; */
}

.today {
    border: 5px solid blue;
    margin:0;
}

.current {
        display: flex;
      }

.current :first-child {
        width: 250px;
      }

.current > * {
        flex: 0 0 auto;
      }

.forecast {
    display: flex;
    justify-content: center;
    width: 1000px;
    margin: auto;
}

.forecast > div {
    flex: 1;
}

.day {
    display: inline-block;
    text-align: center;
    font-size: 16px;
    margin: 0 40px 0 40px;
}

img {
    margin: auto;
    width: 80px;
    height: 80px;
}

button {
  box-sizing: content-box;
  width: 80px;
  height: 20px;
  cursor: pointer;
  margin: 0 auto;
  border: 2px solid gray;
  font-size: 14px;
  border-radius: 40px;
  color: gray;
  text-align: center;
  background: rgba(0,0,0,0);
}

button:hover {
  color: rgba(255,255,255,1);
  background: rgb(30, 205, 151);
}

button:active {
  border: 2px solid rgba(33,224,163,1);
  background: rgba(33,224,163,1);
}
